[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NTPview
Comment=A simple NTP server prober
Icon=/usr/share/NTPview.xpm
Exec=/usr/bin/nv.py
Terminal=false
Categories=NTP
